    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#bio{
    text-align: center;
    background-image: linear-gradient(#312dfc, #3892ff, #4bebfa);
    padding-top: 60px
}
.bio-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.line{
    width: 83px;
    height: 10px;
    background-color: yellow;
    margin-left: 675px;
}
.menu{
    z-index: 10;    
    font-family: 'Yusei Magic', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 98.9%;
    height: 50px;
}
.link{
    float: left;
    list-style: none;
    color: white;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 30px;
    position: relative;
    top: 5px;
    height: 100%;
    border-right:1px solid #bbb;
}

a{
    text-decoration: none;
    color: white;
}
.link:hover{
    background-color: #111;
}
#about{
    text-align: center;
    background-color: pink;
    font-size: 20px;
    padding-bottom: 50px;
}
#hobby{
    font-family: 'Lobster', cursive;
}
#favourite-language{
    text-align: center;
    padding-top: 30px;
    background-color: greenyellow;
    margin-top: 30px;
    padding-bottom: 25px;
}

#favourite-language a{
    color: blue;
    text-decoration: underline;
    font-size: 25px
}
#work{
    background-color: orange;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px
}
#work a{
     text-decoration: underline;
     color: mediumvioletred;
}
#contact{
    background-color: silver;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
#contact a{
    color: grey;
}
#inspiration{
    background: linear-gradient(#4bebfa, #3892ff, #312dfc);
    text-align: center;
}